.para1{
    border-style: dotted;
border-color: black;
border-width: 8px;
color: blanchedalmond;
background-color: blue;
position: sticky;
}
 .para2{
    border-style: dotted;
border-color: black;
border-width: 8px;
color: blanchedalmond;
background-color: rgb(233, 9, 61);
position: absolute;
top:53px;
left: 5%;
}